@import 'etbook.scss';

$font-stack: "ff-meta-web-pro", sans-serif;
$caslon-stack: "adobe-caslon-pro",serif;
$lemonde-stack: "le-monde-livre-classic-sc",sans-serif;
$color-cobaltblue: #0047AB;
$etbook-font-stack: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$ffmetaserif-stack: "ff-meta-serif-web-pro",serif;
$fftisaserif-stack: "ff-tisa-web-pro",serif;
$serif-stac0: "georgia", "times new roman", serif;
$lucidagrande-stack: "Lucida Grande", sans-serif;
$freightsanspro-stack: "freight-sans-pro",sans-serif;