include common_head.jade
include common_banner.jade
include common_navbar.jade

- var pageTitle = "Bodhi at Redhat Inc."

doctype html

html(lang="en")
	+head_mixin(pageTitle)
	body(data-spy="scroll" data-target=".navbar" data-offset="50")
	+banner_mixin(
		pageTitle,
		"Existing OS update management portal had several usability issues which primarily led to low productivity amongst developers and testers and difficulty in onboarding of new open-source contributors.<br/><br/> As an intern, I led the redesign and delivered prototypes for newer version",
		"research, redesign, prototype, evaluate",
		"Jul'16 - Aug'16",
		"img/bodhi1.png"
	)
	+navbar_mixin(pageTitle, [["role","Role"], ["challenge","Challenge"], ["research", "Research"], ["brainstorming", "Brainstorming and Surveys"], ["design", "Final design"], ["takeaway","Takeaways"]])

	.container
		.row
		.column-md-12
			article.nobottompadding
				section
					h1 Re-making of Bodhi
					p.subtitle An enterprise Operating system testing platform

					h2(id="role") Role
						p As an intern, I led the entire project with assistance from my mentor Mo. My mentor had given me sufficient accesss and freedom to pursue this project on my own and she was always available to provide me assistance and reviews.

					h2(id="challenge") The challenge

					p Bodhi is a modular web-based system where red hat's developers, testers and the open source community users collaborate on testing, voting and updating packages. 
					p Upon taking up this project, I quickly wanted to get a sense of the problem space before I plan my approach to solving the problems. With that in mind, I quickly had some discussions with some Bodhi users who were already present that day on that floor and nearby floors. 
					p Here are a few things I heard:

					blockquote
						p I use bodhi everyday, but I often get confused by what package to work on
						footer Developer-1, Redhat Inc.
					blockquote
						p I feel I am comfortable using the command line interface. It's easier to use than the UI
						footer Developer-2, Redhat Inc.

					p I got a sense that developers were not too keen on using the web interface and testers had a hard time navigating the web interface. This was especially true when new testers were introduced to the web UI. The challenge was to increase the Web UI engagement amongst the community.

					h2 Existing system

	.container-fluid
		.row
			.col-md-6
				+clickable_responsive_image("img/w_bodhi/before.png")
			.col-md-6
				+clickable_responsive_image("img/w_bodhi/oldflow2.png")

	.container
		.row
			article.nobottompadding
				section
					h2(id="research") User research

					p As I sat down to ponder more on the problems being faced by the users, I divided them into 3 main categories for my redesign project.

					ul
						li <strong>Testers and release engineers</strong> working for Redhat who frequently use the web application.
						li <strong>Packagers and Developers</strong> working for Redhat who sometimes use the web UI as well as the command line interface.
						li <strong>Open-source contributors</strong> who were not employees of Redhat

					h2 The Contextual Inquiry
					p I interviewed testers, developers, packagers and release engineers and observed their day to day process while they are in office. This way it helped me understand their process flow better and note down any problems they were facing. Based on the interviews, I built an affinity wall to understand their concerns and find any potential use cases for redesign.

					h3 How I studied workflow of remote <br/> open-source contributors
					p It was hard to interview and observe open source community users as most of them were often in different timezones and spread various the country. However, I was able to interview a few during a open source hackathon event held in our office. This enabled me to observe and see what problems they were facing with the web ui. I included their interview answers in my affinity wall and collated the most important use cases for our redesign below

					h3 Results

					p Here is a summary of issues I found through user research grouped by user category.

	.container-fluid.showcase
		.table-responsive
			style.
				.x1 {
					width: 25%;
				}
				.r1 {
					padding: 0 1em;
				}
			table.table-bordered.table-striped
				thead
					tr.r1
						th.x1.r1
							h3.h3tufte 
								strong Areas of improvement
						th.x1.r1
							h3.h3tufte 
								strong Testers
						th.x1.r1 
							h3.h3tufte 
								strong Packager and Developer
						th.x1.r1 
							h3.h3tufte 
								strong Open source community user
				tbody
					tr
						td.r1
							h3.h3tufte
								strong Critical
						td
							ol.ptufte
								li A download link for the koji and CMD download link as well
								li Karma cycle is very confusing; could not figure out the functionality of the untested button.
								li No direct contact link to the submitter.
								li Show bugs related to an update
						td.r1
							ol.ptufte
								
						td.r1
							ol.ptufte
								li Website navigation is very confusing
								li They often get confused about the types of packages available for testing
					tr.r1
						td.r1
							h3.h3tufte 
								strong Nice to have
						td.r1
							ol.ptufte
								li Previous searches
								li Edit the replies to the thread.
						td.r1
							ol.ptufte
								li To be able to submit more than 1 package at a time as we can for "new update".
								li Ability to mark an update as stable in single action
								li Ability to edit information regarding an Update. e.g. Number of lines or Time in testing			
								li To have more accurate information about the current state of the process, the "status" can have some more refined content which can be filtered according to "status since" and "testing" can be filtered according to "testing for 7 days" or "Stable for 2 months"
						td.r1
							p &nbsp;

	.container
		.row
			.column-md-12
				article.nobottompadding
					section
					
						p Overall, I figured that developers actually had little idea about the Bodhi update system and often never used the web ui interface. I had to refocus the entire redesign on testers as our major target audience. They were the ones frequently using the update system daily and had problems navigating the page


						h3 Don't forget the heuristic evaluation!
						p Even after collecting all that data from user interviews, there were certain pages for which I did not have enough information. So, I conducted a heuristics evaluation of the website to see what all other problems that website might have and zeroed on the following problems in the UI. 
						p Here's a summary of the issues.

						dl
							dt Flexibility and efficiency of use

							dd The primary problem was finding the right package or searching a package to work on. Currently in the system it was not easy to distinguish whether the package belonged to F25, EPEL or F24. Easily guiding the user to find what they were looking was the key to a better update system.

							dt Aesthetic and minimalist design
							dd There was way too much information and it was not hierarchically organized in the page which led to making the page appear more cluttered and confusing to use.

							dt Help users recognize, diagnose, and recover from errors

							dd No error messages was displayed when the user was about to make mistakes while changing the package contents.

							dt Help and documentation
							dd Further, having to search for fedora wiki pages for documentation was both time consuming and cumbersome.

						h2(id="brainstorming") Personas

						p Equipped with the data collected from user research and heuristic evaluation, I created personas to help me guide the design stage.

						h3 Micah
						img(src="img/w_bodhi/p3.png")
						p Micah is a red hat tester who has been working on packages and giving karma through the update system. His typical day involved meeting with the developers about the packages and often updating the status of these packages in Bodhi. In between he attends the stand up meeting about his work in progress and finishes up the technical documentation required for the package.

						h3 Nancy
						img(src="img/w_bodhi/p2.png")
						p Nancy has been with redhat for many years and often enjoyed working on fedora release cycle code. She is a passionate about open source software and has been contributing to various open source projects online. Her typical day at red hat includes a daily standup in the morning, followed by some work on her project and then some meetings in the afternoon with stakeholders, designers or testers.

						h3 James
						img(src="img/w_bodhi/p1.png")
						p James is currently a senior at the University of Boston majoring in computer science. He wants to contribute to the open source community and is often seen checking out the open source projects to contribute. He wants to prepare for his interviews so feels contributing to real projects would help him understand the fundamentals better. He just read about the bodhi project and starts checking the web UI for packages to test.

						h2 Brainstorming multiple solutions

						p I brainstormed multiple flows for comment and website navigation

	.container-fluid
		.row
			.col-md-4
				+card_no_title1("img/w_bodhi/s1.jpg")
			.col-md-4
				+card_no_title1("img/w_bodhi/s2.jpg")
			.col-md-2
				+card_no_title1("img/w_bodhi/n1.png")
			.col-md-2
				+card_no_title1("img/w_bodhi/n2.png")

	.container
		.row
			.col-md-12
				article.nobottompadding
					section
						h2 Survey for evaluation of alternatives

						h3 Survey design
						
						p Once I brainstormed several solutions, I wanted to gather some data on which alternatives might be better. First, I reviewed my ideas with my mentor. My mentor's response was positive on the ideas. We thought it might be better to gather data from real customers on the ideas that I had. Instead of showing customers with all the alternative solutions that I had, I prepared a survey that included some basic questions to understand the audience and a question each for each of the various tasks for which I had evaluated multiple solutions. For each of them, I provided them a view of the current system as well as my proposed solution and asked them a bunch of questions to help me find out how much they preferred the second solution.
						p Here is a link to the 
							a(href="https://www.surveymonkey.com/r/XNZ76TT") survey
						p The 2 tasks for which I gathered data in this survey were the Download widget and the Bugzilla integration. I chose these two only because they were the only new features that I was proposing we add to the website. Because they were new features they would also require additional back-end integration work and quantifying the benefit of these new features would make it easy for management to prioritize the implementation of these features. Below, is a screenshot from the survey.
						
	.container-fluid
		.row
			.col-md-12.center-block(style="float:none;")
				+card_no_title("img/w_bodhi/ctotal.png","margin:0 auto;")

	.container
		.row
			.col-md-12
				article.nobottompadding
					section
						h3 Survey results
						
						p The survey results are publicly viewable 
							a(href='https://www.surveymonkey.com/results/SM-KF8HNX5F/') here on survey monkey
							| . Screenshots pasted here for convenience.
						
	
	.container-fluid
		.row
			.col-md-12.center-block(style="float:none;")
				+card_no_title("img/w_bodhi/sstotal.png","margin:0 auto;")
	
	.container
		.row
			.col-md-12
				article.nobottompadding
					section
						h3 Information architecture &mdash; closed card sorting

						p To decide the IA of the website, I constructed page elements (nouns) out of the features I was going to include in the re-designing application and invited participants to conduct a closed card sorting session. Participants were encouraged to place these nouns under the 3 categories of Update, Home and Statistics
						
						p Table below, shows the old and new IA of the website. The "Before" row explains the IA of the existing system. The "After" row is based on the results of the closed card sorting exercise.
						
						p Nouns are color-coded to indicate what kind of change I introduced to the IA of the website.
					
	.container-fluid
		style.
			.sl {
				margin:2rem;
				// padding:1rem;
				font-size: 1rem;
				line-height: 2;
			}
			.sl2 {
				margin-right:1rem;
			}	
		.row(style="padding-bottom: 1em;")
			.col-md-12
				span.label.label-default.sl.sl2 Kept as is
				span.label.label-warning.sl.sl2 Moved
				span.label.label-danger.sl.sl2 Removed
				span.label.label-info.sl.sl2 Improved from
				span.label.label-primary.sl.sl2 Improved to
				span.label.label-success.sl.sl2 Added
							
		.row
			.col-md-12.center-block(style="float:none;")
				table.table-bordered.table-striped(style="margin: 0 auto;")
					style.
						.th1 {						
							margin: 1em 1em;
						}
					thead
						tr
							th
								h3.h3tufte.th1
									strong &nbsp;
							th 
								h3.h3tufte.th1
									strong Home
							th
								h3.h3tufte.th1
									strong Update
							th
								h3.h3tufte.th1
									strong Masher updates
							th
								h3.h3tufte.th1
									strong Statistics									
					tbody
						tr
							td
								h3.h3tufte.th1
									strong Before
							td
								table
									tbody
										tr
											td
												span.label.label-warning.sl Top 5 testers
											td
												span.label.label-danger.sl Update system stream
										tr
											td
												span.label.label-default.sl Critcal path updates
											td
												span.label.label-default.sl Security updates
							td
								table
									tbody
										tr
											td
												span.label.label-default.sl Update Overview
											td
												span.label.label-danger.sl Automated test results
										tr
											td
												span.label.label-info.sl Related bugs w/o comments
											td
												span.label.label-info.sl Flat comments
										tr
											td
												span.label.label-info.sl Feedback
							td
								table
									tbody
										tr
											td
												span.label.label-danger.sl Masher updates
							td
								table
									tbody
										tr
											td
												span.label.label-info.sl Update distribution per release
								
						tr
							td
								h3.h3tufte.th1
									strong After
							td
								table
									tbody
										tr
											td
												span.label.label-success.sl Hierarchical update info
											td
												span.label.label-success.sl Update statistics at each hierarchy level
										tr
											td
												span.label.label-default.sl Critcal path updates
											td
												span.label.label-default.sl Security updates
							td
								table
									tbody
										tr
											td
												span.label.label-default.sl Update Overview
											td
												span.label.label-success.sl Builds included in update
										tr
											td
												span.label.label-primary.sl Related bugs with comments
											td
												span.label.label-primary.sl Nested comments
										tr
											td
												span.label.label-primary.sl update rating
							td
								x
							td
								table
									tbody
										tr
											td
												span.label.label-warning.sl Top 5 testers


	.container
		.row
			.col-md-12
				article.nobottompadding
					section
						h3 Interaction map						

	.container-fluid
		.row
			.col-md-12.center-block(style="float:none")
				+card_no_title("img/w_bodhi/bodhi.png", "margin: 0 auto;")
				
	.container
		.row
			.col-md-12
				article.nobottompadding
					section
						h2(id="design") Final design

						p Based on the positive feedback from the survey and from my mentor on the design proposals presented as low-fi designs, I went forward and made the hi-fidelity designs for the same. Redhat had recently come up with a new style guide called <a href="http://www.patternfly.org">Patternfly</a> for enterprise applications. Since I was re-designing Bodhi from the ground up I decided to use this new style guide. Since, CSS files were already available for patternfly, it turned out to be easier to build the hi-fidelity prototype by just coding it using the <a href="https://github.com/patternfly/patternfly">Patternfly library</a>

	.container-fluid
		.row(style="padding-bottom:3rem;")
			.col-md-8
				+card_no_title("img/w_bodhi/f_home2.png")
			.col-md-4
				h3.h3tufte 
					strong Home page
				p.ptufte This home page will consists of critical path in need of testing, Security and Normal updates grouped under the release F25, EPEL to allow for more clearer representation of the information

	.container-fluid
		.row(style="padding-bottom:3rem;")
			.col-md-8
				+card_no_title("img/w_bodhi/f_stats.png")
			.col-md-4
				h3.h3tufte 
					strong Statistics
				p.ptufte Will have the overall metrics and weekly top testers information

	.container-fluid
		.row(style="padding-bottom:3rem;")
			.col-md-8
				+card_no_title("img/w_bodhi/f_detail.png")
			.col-md-4
				h3.h3tufte  
					strong Update details
				p.ptufte This page will show the package details, Bugzilla updates, Download widget, comments and Karma


	.container
		.row
			.col-md-12
				article.nobottompadding
					section
						h2(id="takeaway") What I learned from this experience
						
						p I felt that employees suffer more because most enterprise applications do not provide engaging user experience. This is because of the fact that most of the decisions taken by the software managers are primarily concerned with stability, security and scalability and not usability. Thus, it is not an easy goal to achieve and more often than not there are lot of that a lot of esoteric constraints when designing an enterprise application. So,sometimes it becomes very hard  to resist becoming a pushover designer. However, that itself can be taken as a good challenge.
						p What I enjoyed most in my internship at Red Hat is that, my users were literally down the hall and I can always meet and emphatize  with them. I really enjoyed the informal conversations I had with them. Having such relaxed conservations enabled them to speak freely about their problems and pain points. Well, who doesn't like the company of honest people!
