@import 'project_brief.scss';
@import 'variable.scss';

.site-title {
    font-family: $caslon-stack;
    line-height: 1;
    font-style: italic;
    color: $color-cobaltblue;
    text-align: center;
}

.selected {
    color: $color-cobaltblue;
}

.fa {
    color: $color-cobaltblue;
}

@media (min-width: 768px) {
    .site-title {
        text-align: left;
    }    
}