/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */
@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 3, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.home-brief {
  padding-bottom: 1rem; }

/* line 8, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.fullheight {
  height: 100%; }

/* line 12, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.smrow {
  height: 23.62%; }

/* line 16, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.goldenheight {
  height: 61.72%; }

/* line 20, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.lgrow {
  height: 61.72%; }

/* line 24, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.home-project-title {
  font-family: "le-monde-livre-classic-sc", sans-serif;
  padding-bottom: 1rem; }

/* line 29, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.home-project-subtitle {
  font-family: "ff-meta-web-pro", sans-serif;
  padding-bottom: 1rem;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  font-weight: 500;
  font-size: 2.3em; }

/* line 38, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.step {
  font-family: "ff-meta-web-pro", sans-serif; }

/* line 42, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.home-project-blurb {
  font-family: "ff-meta-web-pro", sans-serif; }

/* line 52, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.home-project-tags {
  text-transform: uppercase;
  font-family: "ff-meta-web-pro", sans-serif; }

/* line 65, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.project-banner-setting {
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 2rem; }

/* line 72, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.image-container {
  width: 100%; }

/* line 76, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.center-image {
  float: right;
  height: auto;
  max-width: 100%;
  margin: 0 0 0 auto; }

/* line 83, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.parallax {
  background-attachment: fixed;
  background-size: auto; }

@media only screen and (min-width: 767px) and (max-width: 1920px) {
  /* line 89, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
  .home-project-cover {
    height: 940px;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  /* line 97, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
  .home-project-left {
    padding-left: 0;
    padding-right: 5rem; }
  /* line 102, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
  .home-project-right {
    padding-right: 0; } }

/* @group Mobile */
@media only screen and (min-width: 0) and (max-width: 769px) {
  /* line 109, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
  .center-image {
    float: none;
    margin: auto; }
  /* line 114, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
  .home-project-cover {
    padding-bottom: 3rem;
    padding-top: 3rem; } }

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */
@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 4, /home/local/ANT/ajgopala/portfolio_new/common.scss */
.site-title {
  font-family: "adobe-caslon-pro", serif;
  line-height: 1;
  font-style: italic;
  color: #0047AB;
  text-align: center; }

/* line 12, /home/local/ANT/ajgopala/portfolio_new/common.scss */
.selected {
  color: #0047AB; }

/* line 16, /home/local/ANT/ajgopala/portfolio_new/common.scss */
.fa {
  color: #0047AB; }

@media (min-width: 768px) {
  /* line 21, /home/local/ANT/ajgopala/portfolio_new/common.scss */
  .site-title {
    text-align: left; } }

/*# sourceMappingURL=common.css.map */