@import 'common.scss';
@import 'link.scss';

p,
h6 {
    font-family: $font-stack;
}

.site-sub-title {
    font-family: $font-stack;
    text-align: center;    
}

.site-menu {
    font-family: $font-stack;
    text-align: center;
}

.headline {
    padding: 10rem 0;
}

.process_diagram {
    display: block;
    margin: 0 auto;
}

.separator {
    display: block;
}


.project1-banner {
    background-image: url("img/origin_banner_resized_3.png");
}

.project2-banner {
    background-image: url("http://placehold.it/933x700");
    
}

.home-brief {
    padding-bottom: 2rem;
}
.home-project-title {
    padding-bottom: 1rem;
}

.home-project-subtitle {
    font-family: $font-stack;
    padding-bottom: 1rem;
}

.home-project-brief {
    padding-right: 2rem;
}

.home-project-tags {
    text-transform: uppercase;
    font-family: $font-stack;
}

.view-case-study0 {
    display: none;
}

.view-case-study a {
    font-family: $font-stack;
    padding: 1rem;
    border: 1px solid darkgray;

    color: white;
}

.code-button a {
    color: white;
    background-color: rgba(0,0,0,.8);
}

.case-button a {
    background-color: $color-cobaltblue;    
}

.case-button a:hover {
    background-color: lighten($color-cobaltblue, 60%);    
}

.code-button a:hover {
    color: black;
    background-color: rgba(0,0,0,.4);
}

.view-case-study a:hover {
    color: black;
    transition: 0.3s;
    text-decoration: none;
}

@media (min-width: 768px) {
    .site-sub-title {
        text-align: left;
    }

    .site-menu {
        font-family: $font-stack;
        text-align: right;
    }

    .vcenter {
        display: inline-block;
        float: none;
        vertical-align:bottom;
    }    
    
    .project-banner-setting {
        margin-top: 0;
    }
    
    .home-brief {
        padding-bottom: 5rem;
    }

    .process_diagram {
        display: inherit;
        margin: 0;
    }
    
    .separator {
        display: none;
    }

    .view-case-study0 {
        display: inherit;
        padding-top: 1rem;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1400px !important;
    }
}