/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */
@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 3, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.home-brief {
  padding-bottom: 1rem; }

/* line 8, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.fullheight {
  height: 100%; }

/* line 12, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.smrow {
  height: 23.62%; }

/* line 16, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.goldenheight {
  height: 61.72%; }

/* line 20, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.lgrow {
  height: 61.72%; }

/* line 24, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.home-project-title {
  font-family: "le-monde-livre-classic-sc", sans-serif;
  padding-bottom: 1rem; }

/* line 29, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.home-project-subtitle {
  font-family: "ff-meta-web-pro", sans-serif;
  padding-bottom: 1rem; }

/* line 34, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.home-project-blurb {
  font-family: "ff-meta-web-pro", sans-serif; }

/* line 38, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.home-project-brief {
  padding-right: 2rem;
  background-color: white;
  height: 100%; }

/* line 45, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.home-project-tags {
  text-transform: uppercase;
  font-family: "ff-meta-web-pro", sans-serif; }

/* line 50, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.project-banner-setting {
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 2rem; }

/* line 57, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
.parallax {
  background-attachment: fixed;
  background-size: auto; }

@media (max-height: 990px) {
  /* line 63, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
  .parallax {
    height: 940px; } }

@media (max-height: 768px) {
  /* line 69, /home/local/ANT/ajgopala/portfolio_new/project_brief.scss */
  .parallax {
    height: 718px; } }

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */
@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 4, /home/local/ANT/ajgopala/portfolio_new/common.scss */
.site-title {
  font-family: "adobe-caslon-pro", serif;
  line-height: 1;
  font-style: italic;
  color: #0047AB;
  text-align: center; }

/* line 12, /home/local/ANT/ajgopala/portfolio_new/common.scss */
.selected {
  color: #0047AB; }

/* line 16, /home/local/ANT/ajgopala/portfolio_new/common.scss */
.fa {
  color: #0047AB; }

@media (min-width: 768px) {
  /* line 21, /home/local/ANT/ajgopala/portfolio_new/common.scss */
  .site-title {
    text-align: left; } }

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */
@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 3, /home/local/ANT/ajgopala/portfolio_new/link.scss */
a {
  position: relative;
  color: #000;
  text-decoration: none; }

/* line 9, /home/local/ANT/ajgopala/portfolio_new/link.scss */
a:hover {
  color: #000;
  text-decoration: none; }

/* line 14, /home/local/ANT/ajgopala/portfolio_new/link.scss */
a:before {
  text-decoration: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

/* line 30, /home/local/ANT/ajgopala/portfolio_new/link.scss */
a:hover:before {
  text-decoration: none;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/* line 4, /home/local/ANT/ajgopala/portfolio_new/index.scss */
p,
h6 {
  font-family: "ff-meta-web-pro", sans-serif; }

/* line 9, /home/local/ANT/ajgopala/portfolio_new/index.scss */
.site-sub-title {
  font-family: "ff-meta-web-pro", sans-serif;
  text-align: center; }

/* line 14, /home/local/ANT/ajgopala/portfolio_new/index.scss */
.site-menu {
  font-family: "ff-meta-web-pro", sans-serif;
  padding-top: 2rem;
  text-align: center; }

/* line 20, /home/local/ANT/ajgopala/portfolio_new/index.scss */
.headline {
  padding: 10rem 0; }

/* line 24, /home/local/ANT/ajgopala/portfolio_new/index.scss */
.project1-banner {
  background-image: url("img/origin_banner_resized_3.png"); }

/* line 28, /home/local/ANT/ajgopala/portfolio_new/index.scss */
.project2-banner {
  background-image: url("http://placehold.it/933x700"); }

/* line 33, /home/local/ANT/ajgopala/portfolio_new/index.scss */
.home-brief {
  padding-bottom: 2rem; }

/* line 36, /home/local/ANT/ajgopala/portfolio_new/index.scss */
.home-project-title {
  font-family: "le-monde-livre-classic-sc", sans-serif;
  padding-bottom: 1rem; }

/* line 41, /home/local/ANT/ajgopala/portfolio_new/index.scss */
.home-project-subtitle {
  font-family: "ff-meta-web-pro", sans-serif;
  padding-bottom: 1rem; }

/* line 46, /home/local/ANT/ajgopala/portfolio_new/index.scss */
.home-project-brief {
  padding-right: 2rem; }

/* line 50, /home/local/ANT/ajgopala/portfolio_new/index.scss */
.home-project-tags {
  text-transform: uppercase;
  font-family: "ff-meta-web-pro", sans-serif; }

/* line 55, /home/local/ANT/ajgopala/portfolio_new/index.scss */
.view-case-study0 {
  padding-top: 1rem; }

/* line 59, /home/local/ANT/ajgopala/portfolio_new/index.scss */
.view-case-study a {
  font-family: "ff-meta-web-pro", sans-serif;
  padding: 1rem;
  border: 1px solid darkgray; }

/* line 65, /home/local/ANT/ajgopala/portfolio_new/index.scss */
.view-case-study a:hover {
  color: white;
  background-color: #0047AB; }

@media (min-width: 768px) {
  /* line 71, /home/local/ANT/ajgopala/portfolio_new/index.scss */
  .site-sub-title {
    text-align: left; }
  /* line 75, /home/local/ANT/ajgopala/portfolio_new/index.scss */
  .site-menu {
    font-family: "ff-meta-web-pro", sans-serif;
    text-align: right; }
  /* line 80, /home/local/ANT/ajgopala/portfolio_new/index.scss */
  .vcenter {
    display: inline-block;
    float: none;
    vertical-align: bottom; }
  /* line 86, /home/local/ANT/ajgopala/portfolio_new/index.scss */
  .project-banner-setting {
    margin-top: 0; }
  /* line 90, /home/local/ANT/ajgopala/portfolio_new/index.scss */
  .home-brief {
    padding-bottom: 5rem; } }

@media (min-width: 1200px) {
  /* line 96, /home/local/ANT/ajgopala/portfolio_new/index.scss */
  .container {
    width: 1400px !important; } }

/*# sourceMappingURL=index.css.map */