@import 'variable.scss';

.home-brief {
    padding-bottom: 1rem;
//    height: 100%;
}

.fullheight {
    height: 100%;
}

.smrow {
    height: 23.62%;
}

.goldenheight {
    height: 61.72%;
}

.lgrow {
    height: 61.72%;
}

.home-project-title {
    font-family: $lemonde-stack;
    padding-bottom: 1rem;
}

.home-project-subtitle {
    font-family: $font-stack;
    padding-bottom: 1rem;
}

.home-project-blurb {
    font-family: $font-stack;
}

//.home-project-brief {
//    padding-right: 2rem;
//    background-color: white;
//    height: 100%;
//}

.home-project-tags {
    text-transform: uppercase;
    font-family: $font-stack;
}

//.home-project-left {
//    padding-left: 0;
//}
//
//.home-project-right {
//    padding-right: 0;
//}
//
//.project-banner-setting {
//    background-size: contain;
//    background-repeat: no-repeat;
//    position: relative;
//    margin-top: 2rem;
//}

.image-container {
    width:100%;
}

.center-image {
    float: right;
    height: auto;
    max-width: 100%;
    margin: 0 0 0 auto;
}

.parallax {
    background-attachment: fixed;
    background-size: auto;
}

@media only screen and (min-width: 767px) and (max-width: 1920px) {
    .home-project-cover {
        height:940px;
        padding:0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        
    .home-project-left {
        padding-left: 0;
        padding-right: 5rem;
    }

    .home-project-right {
        padding-right: 0;
    }
}

/* @group Mobile */
@media only screen and (min-width: 0) and (max-width: 769px) {
    .center-image {
        float:none;
        margin: auto;
    }
    
    .home-project-cover {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
}