include common_head.jade
include common_navbar.jade
include common_clickable_image.jade

- var pageTitle = "My story"

doctype html

html(lang="en")

    +head_mixin(pageTitle)

    body(data-spy="scroll" data-target=".navbar" data-offset="50")
  
        style.
            h1, h2, h3 {
                color: #293E68;
            }
            
            .h1tufte {
                font-family: "adobe-caslon-pro",serif;
            }
            
            .h3tufte {
                font-family: "ff-meta-web-pro", sans-serif;
                font-weight: none;
            }
            
            .col-md-

        +navbar_mixin(pageTitle, [])

        .container(style="padding:3rem;")
            .row(style="padding-bottom:3rem;")
                .col-md-4
                    +card_no_title1("img/dp.jpg")
                .col-md-8
                    h2.h2tufte Hi,
                    
                    p.p1tufte I am a UX designer with strengths in interaction design and prototyping. I am passionate about user experience and I enjoy creatively solving problems and designing usable products that bring meaningful experiences into people's lives.

                    p.p1tufte After studying engineering and business management, I realized the power of applying design thinking to business innovation.

                    p.p1tufte Since then, I have designed for enterprise, gaming and voice based interfaces &mdash; Nova Technologies, Red Hat, Guardian, Callaway and a small gaming company in Ann Arbor which is now fully funded in Kickstarter!

            .row
                table(style="width:100%;")
                    tbody
                        tr
                            td(style="width:33%;")
                                +hover_card_no_title1("img/delhi.jpg", "", "imghvr-fade", "Growing up", "Delhi - I was born and brought up here. Sometimes I get nostalgic and realize how much I loved Delhi and everything about it.")
                            td                                
                                +hover_card_no_title1("img/seattle.png", "", "imghvr-fade", "Resident of Seattle", "I moved to Seattle WA in 2013 and now I call it my US hometown! I love this beautiful city!")
                        tr
                            td
                                +hover_card_no_title1("img/board.png", "", "imghvr-fade", "Go Blue!", "I am currently a graduate student of University of Michigan Ann Arbor and proud of being being a wolverine. Because wherever you are in the world,we wolverines share a special bond from protecting the sacred M in the Diag.")                    
                            td
                                table
                                    tbody
                                        tr(height="50%")
                                            td                                            
                                                +hover_card_no_title1("img/umich.jpg", "", "imghvr-fade", "Design", "I enjoy problem solving and simplifying complex things")                                            
                                        tr
                                            td
                                                +hover_card_no_title1("img/origami1.png", "", "imghvr-fade", "Design", "I enjoy problem solving and simplifying complex things")
