/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */
@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Tufte CSS styles */
/* line 19, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
html {
  font-size: 15px;
  font-size: 0.78vw;
  text-rendering: optimizeLegibility; }

/* line 25, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.fa-3 {
  font-size: 2.5em; }

/* line 29, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.competitive-table td {
  vertical-align: middle !important; }

/* line 33, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.wideformat {
  width: 100%; }

/* line 37, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.competitive-table, .playtest-table, .heuristic-table, .design_improvements_table, .w_pd_ia_table {
  margin-top: 1.86rem; }
  /* line 41, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  .competitive-table th, .playtest-table th, .heuristic-table th, .design_improvements_table th, .w_pd_ia_table th {
    font-family: "freight-sans-pro", sans-serif !important; }
  /* line 45, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  .competitive-table .fa-check, .playtest-table .fa-check, .heuristic-table .fa-check, .design_improvements_table .fa-check, .w_pd_ia_table .fa-check {
    color: forestgreen; }
  /* line 49, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  .competitive-table .fa-times, .playtest-table .fa-times, .heuristic-table .fa-times, .design_improvements_table .fa-times, .w_pd_ia_table .fa-times {
    color: firebrick; }
  /* line 53, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  .competitive-table .goal-col, .playtest-table .goal-col, .heuristic-table .goal-col, .design_improvements_table .goal-col, .w_pd_ia_table .goal-col {
    width: 60%; }
  /* line 57, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  .competitive-table .rest-col, .playtest-table .rest-col, .heuristic-table .rest-col, .design_improvements_table .rest-col, .w_pd_ia_table .rest-col {
    width: 20%; }
  /* line 61, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  .competitive-table dt,
  .competitive-table dd, .playtest-table dt,
  .playtest-table dd, .heuristic-table dt,
  .heuristic-table dd, .design_improvements_table dt,
  .design_improvements_table dd, .w_pd_ia_table dt,
  .w_pd_ia_table dd {
    width: 100%; }

/* line 68, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.playtest-symbol, .heuristic-symbol {
  vertical-align: middle !important; }

/* line 72, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.videowrapper2 {
  width: 50%;
  margin-top: 1.86rem; }

/* line 77, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

/* line 83, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 92, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
body {
  color: rgba(0, 0, 0, 0.8);
  counter-reset: sidenote-counter;
  background-color: white; }

/* line 104, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.dark {
  background-color: white; }

/* line 108, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.light {
  background-color: white; }

/* line 112, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.nobottompadding {
  padding-bottom: 0 !important; }

/* line 117, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
article h1 {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
  margin-top: 4.2rem;
  margin-bottom: 1rem;
  font-size: 3.2rem;
  line-height: 1; }

/* line 125, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
article h2 {
  font-family: "freight-sans-pro", sans-serif;
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  font-size: 2.2rem;
  line-height: 1; }

/* line 133, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
article h3 {
  font-family: "freight-sans-pro", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2.0rem;
  line-height: 1.23; }

/* line 141, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
article hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 151, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
article h1, article h2, article h3, article h4 {
  font-style: normal;
  font-weight: bold; }

/* line 157, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
p.subtitle {
  margin-top: 1rem;
  margin-bottom: 1.86rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1; }

/* line 166, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.numeral {
  font-family: et-book-roman-old-style; }

/* line 170, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.danger {
  color: red; }

/* line 174, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
article {
  position: relative;
  padding: 5rem 0rem; }

/* line 179, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.ptufte {
  font-family: "ff-meta-web-pro", sans-serif !important;
  font-weight: 400;
  line-height: 1.75472;
  margin-top: 1.86rem;
  margin-bottom: 0;
  padding-right: 0;
  vertical-align: baseline; }

/* line 189, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.h3tufte {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2.0rem;
  line-height: 1.23; }

/* line 197, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.h2tufte {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
  margin-top: 2.1rem;
  font-size: 2.2rem;
  line-height: 1; }

/* line 205, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
.showcase {
  margin: 5px;
  background-color: lightgray;
  color: black;
  padding: 5%;
  background: -webkit-linear-gradient(90deg, #dee1e1 10%, #f4f4f4 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #dee1e1 10%, #f4f4f4 90%);
  /* FF3.6+ */
  background: linear-gradient(90deg, #dee1e1 10%, #f4f4f4 90%);
  /* W3C */ }

/* line 217, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
article {
  /* Chapter Epigraphs */
  /* end chapter epigraphs styles */
  /* Links: replicate underline that clears descenders */ }
  /* line 218, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article section {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  /* line 223, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article p,
  article ol,
  article ul,
  article dd,
  article dt {
    font-size: 1.06rem; }
  /* line 231, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article p,
  article dd,
  article dt {
    font-weight: 400;
    line-height: 1.75472;
    margin-top: 1.86rem;
    margin-bottom: 0;
    padding-right: 0;
    vertical-align: baseline; }
  /* line 247, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article p, article dd {
    font-family: "ff-meta-web-pro", sans-serif !important; }
  /* line 251, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article dt {
    font-family: "freight-sans-pro", sans-serif !important; }
  /* line 255, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article dt {
    font-weight: bold; }
  /* line 259, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article p + p {
    margin-top: 0;
    text-indent: 1.86rem; }
  /* line 264, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .firstpara {
    text-indent: inherit !important; }
  /* line 268, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article br {
    line-height: 1.86rem; }
  /* line 273, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article div.epigraph {
    margin: 5em 0; }
  /* line 276, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article div.epigraph > blockquote {
    margin-top: 1.86rem;
    margin-bottom: 1.86rem; }
  /* line 280, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article div.epigraph > blockquote,
  article div.epigraph > blockquote > p {
    font-style: italic; }
  /* line 284, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article div.epigraph > blockquote > footer {
    font-style: normal; }
  /* line 287, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article div.epigraph > blockquote > footer > cite {
    font-style: italic; }
  /* line 291, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article blockquote {
    border-left: none;
    font-size: 1.4rem; }
  /* line 295, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article blockquote p {
    width: 50%;
    margin-right: 40px; }
  /* line 299, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article blockquote footer {
    margin-top: 1.86rem;
    width: 50% !important;
    font-size: 1.1rem !important;
    text-align: right !important;
    font-family: "ff-meta-web-pro", sans-serif;
    color: inherit; }
  /* line 307, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article section > ol,
  article section > ul {
    width: 45%;
    -webkit-padding-start: 5%;
    -webkit-padding-end: 5%; }
  /* line 313, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article li {
    padding: 0.5rem 0;
    font-family: "ff-meta-web-pro", sans-serif; }
  /* line 317, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 50%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 1.86rem 0 1.86rem 0; }
  /* line 328, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%; }
  /* line 340, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article figure.fullwidth {
    margin-top: 1.86rem; }
  /* line 344, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article figure.fullwidth figcaption {
    margin-right: 24%; }
  /* line 348, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article a:link,
  article a:visited {
    color: inherit; }
  /* line 352, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article a:link {
    text-decoration: none;
    background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#333, #333);
    background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#333, #333);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
    background-position: 0% 93%, 100% 93%, 0% 93%; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 368, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  a:link {
    background-position-y: 87%, 87%, 87%; } }

/* line 373, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
article {
  /* Sidenotes, margin notes, figures, captions */ }
  /* line 374, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article a:link::selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe; }
  /* line 381, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article a:link::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe; }
  /* line 391, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article img {
    max-width: 100%; }
  /* line 395, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .sidenote,
  article .marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 1.86rem;
    font-size: 1.06rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    color: darkgray; }
  /* line 410, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .sidenote-number {
    counter-increment: sidenote-counter; }
  /* line 414, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .sidenote-number:after,
  article .sidenote:before {
    content: counter(sidenote-counter) " ";
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline; }
  /* line 422, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem; }
  /* line 429, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .sidenote:before {
    content: counter(sidenote-counter) " ";
    top: -0.5rem; }
  /* line 434, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article blockquote .sidenote,
  article blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left; }
  /* line 441, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article p,
  article footer,
  article dd,
  article dt {
    width: 50%; }
  /* line 448, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article table {
    width: 50% !important; }
  /* line 452, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .twocolumnlist {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    -ms-column-gap: 3em;
    -o-column-gap: 3em;
    column-gap: 3em; }
  /* line 465, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .redline {
    color: red;
    background-color: yellow; }
  /* line 470, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article div.fullwidth,
  article table.fullwidth {
    width: 100%; }
  /* line 475, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article div.table-wrapper {
    overflow-x: auto;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif; }
  /* line 480, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .sans {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: .03em; }
  /* line 485, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
    color: rgba(0, 0, 0, 0.8);
    background-color: white; }
  /* line 498, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .sans > code {
    font-size: 1.2rem; }
  /* line 502, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article h1 > code,
  article h2 > code,
  article h3 > code {
    font-size: 0.80em; }
  /* line 508, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .marginnote > code,
  article .sidenote > code {
    font-size: 1rem; }
  /* line 513, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article pre.code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-top: 1.86rem;
    margin-left: 2.5%;
    border: none !important;
    background-color: white;
    overflow-x: auto; }
  /* line 528, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article pre.code.fullwidth {
    width: 90%; }
  /* line 532, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .fullwidth {
    max-width: 90%;
    clear: both; }
  /* line 537, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article span.newthought {
    font-variant: small-caps;
    font-size: 1.2em; }
  /* line 542, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article input.margin-toggle {
    display: none; }
  /* line 546, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article label.sidenote-number {
    display: inline; }
  /* line 550, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article label.margin-toggle:not(.sidenote-number) {
    display: none; }

/* @group Desktop Only */
@media only screen and (min-width: 1100px) and (max-width: 1920px) {
  /* line 557, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  html {
    font-size: 15px; } }

/* @group Mobile, Tablets, Small Computers */
@media only screen and (min-width: 0) and (max-width: 1099px) {
  /* line 564, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  html {
    font-size: 13px; }
  /* line 571, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article p {
    width: 100%; }
  /* line 574, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article p,
  article footer {
    width: 100%; }
  /* line 578, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article pre.code {
    width: 97%; }
  /* line 581, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article ul {
    width: 85%; }
  /* line 584, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article figure {
    max-width: 90%; }
  /* line 587, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article figcaption,
  article figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none; }
  /* line 592, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article blockquote {
    margin-left: 1.5em;
    margin-right: 0em; }
  /* line 596, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article blockquote p,
  article blockquote footer {
    width: 100%; }
  /* line 600, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article label.margin-toggle:not(.sidenote-number) {
    display: inline; }
  /* line 603, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .sidenote,
  article .marginnote {
    display: none; }
  /* line 607, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article .margin-toggle:checked + .sidenote,
  article .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; }
  /* line 618, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article label {
    cursor: pointer; }
  /* line 621, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article div.table-wrapper,
  article table {
    width: 85%; }
  /* line 625, /home/local/ANT/ajgopala/portfolio_new/tufte2.scss */
  article img {
    width: 100%; } }

/*# sourceMappingURL=tufte2.css.map */