include common_banner.jade
include common_navbar.jade
include common_head.jade

- var PageTitle = "Portfolio website design"

doctype html
html(lang="en")
    +head_mixin(PageTitle)
    
    body(data-spy="scroll" data-target=".navbar" data-offset="50")

        style.
            h1, h2, h3 {
                color: #293E68;
            }
            
            body {
                border-top: 6px solid #293E68;
            }
    
        +banner_mixin(
            PageTitle,
            
            "An journey filled with lessons and learnings as I ventured to build a portfolio capturing my work. Experiences in an UX approach to portfolio website design, website creation and front-end development.",
                        
            "front-end development: HTML, CSS3, SCSS, Javascript, Jade, npm <br/> typography, IA",
            
            "Dec'16 - Jan'17",
            
            "http://placehold.it/1500x925"
        )
        
        +navbar_mixin(pageTitle, [["challenge","Challenge"]])
        
        .container
            .row
                article.nobottompadding
                    section
                        h1 Making of Portfolio website
                        p.subtitle Letting the work speak for itself
                        
                        p.firstpara I wanted to make a portfolio website to showcase all my work. This was a dauting task at first for me because I had never built a website before and I was not sure what I should put in website. Soon, a thought occured to me &mdash; why not approach the portfolio website design as a UX problem?
                        
                        h2 Attacking it as a UX problem
                        
                        p Upon inspecting it as a UX problem, I realized that I first needed to define a success criteria (goal) for my portfolio. In turn that led me to ask &mdash; Who is the target audience?
                        p I kept the target audience was prospective employers. I then asked myself &mdash; what would prospective employers like to see in my portfolio? 
                        
                        h2 Research
                        
                        p It would have been awesome if I could directly ask the prospective employers what they expected out of a portfolio. Since, that was not possible, I did a bunch of research of my own:
                        
                        ul
                            li Talked to seniors at my university and visited their portfolio websites
                            li Looked at portfolios of UX designers employed already
                            li Read various internet articles on building a portfolio
                        
                        h2 Goals
                        
                        p Based on above research I set the following design goals.
                        
                        table.table.table-bordered.heuristic-table
                            tbody
                                tr
                                    td.col-md-6
                                        dl
                                            dt Let work speak for itself
                                            dd I didn't want this website to be the primary source of interest for the reader. I wanted reader to be more focused on my project work
                                    td.col-md-6
                                        dl
                                            dt Reader can quickly assess work quality
                                            dd I was aware that readers have to read hundreds of portfolios and are short on time. Help them help me.

                                tr
                                    td.col-md-6
                                        dl
                                            dt Reader is guided through my work
                                            dd Since I won't be present to walk through the portfolio the reader, the website should be able to guide reader through the portfolio
                                    td.col-md-6
                                        dl
                                            dt Reader can read on any device type
                                            dd This meant the website need to be responsive at-least and being adaptive to device type would be a very nice thing to have                        
                        
                        h2 Explorations &amp; decisions
                    
                        h3 KISS principle. Occam's razor
                        p No fancy animations and Javascript libraries that distract or conflict with animation present in your actual work. Keep website design simple and let your real work shine through. When it doubt choose the simpler option.

                        
                        h3 Home page IA
                        
                        p Above design goals led me to research and think deeply about the Information Architecture (IA) of this website. I sketched quickly various alternatives for the home page IA, evaluated pros-cons and picked one alternative.
                        
                        br
                        
        .container-fluid.showcase                        
            .row(style="text-align:center; padding-bottom:5%")
                h2.h2tufte Different solutions evaluated for home page IA
            .row
                .col-md-4                
                        h3.h3tufte Grid of projects
                        
                        figure.fullwidth
                            img(src="img/w_portfoliio_design/ia1.png" class="img-responsive")
                        
                        br
                        p.ptufte <strong>Discarded</strong> because:
                        ul.ptufte
                            li didn't meet the criteria of allowing me to guide the user through the portfolio. 
                            li Presented with a grid of options, all the projects in a row are presented at an equal accessibility and importance level and the reader would be inclined to click any one of them.
                .col-md-4                    
                        h3.h3tufte Vertical list of project cards
                        
                        figure.fullwidth
                            img(src="img/w_portfoliio_design/ia2.png" class="img-responsive")
                        br
                        p.ptufte The projects presented top-down in a list implicitly rank the projects and the reader is inclined to click and read the first one. However, I <strong>discarded it</strong> because:
                        ul.ptufte 
                            li Each item's primary content is an image and doesn't allow me to provide some summary information about each project which will allow reader to quickly assess impact of reader. 
                            li An image alone may not give enough clues about the impact of this project and may not interest reader enough to read the project.
                
                .col-md-4
                        h3.h3tufte  Vertical list of projects w/ blurb and image
                        figure.fullwidth
                            img(src="img/w_portfoliio_design/ia3.png" class="img-responsive")

                        br   
                        p.ptufte <strong>Selected</strong> because:
                        ul.ptufte 
                            li it allowed me to present information in a prioritized fashion
                            li present a short blurb describing purpose, impact, role and technologies involved in this project along with the project image
                            li allows readers to quickly scan through the crux of this project.
            .row
                .col-md-8.center-block(style="float:none;padding-top:5%;")
                        h2.h2tufte(style="padding-bottom:5%;text-align:center;")  Detailed wireframe of selected solution of Home page
                        img(src="img/w_portfoliio_design/home_page_ia1.png" class="img-responsive" style="margin: 0 auto;width:50%;")

        .container
            .row
                article.nobottompadding
                    section
                        h3 Work page IA
                        p I also evaluated alternative IAs for my work pages. Here is the selected project design in much greater detail. I selected this one because of the following reasons:
                        ul
                            li Simple &mdash; No fancy animations to distract reader from core content of project
                            li Good use of <strong>negative space</strong> &mdash; to bring attention to main content
                            li Navigation and scan-ability &mdash; <strong>Fixed navbar</strong> and properly sized headers make scanning text easy. <strong>Other projects</strong> at bottom makes it easy to jump to other projects instead of having to navigate to home page.
                        p Below is wireframes of the project work pages.

        .container-fluid.showcase
            .row
                .col-md-4
                    h3.h3tufte Page work detail page
                    a(href="img/w_portfoliio_design/work_page_ia1.png" target="_blank")
                        img(class="img-responsive" src="img/w_portfoliio_design/work_page_ia1.png" title="click to see full size image" style="width:75%;")
                .col-md-4
                    h3.h3tufte After scrolling past the navbar
                    a(href="img/w_portfoliio_design/work_page_ia2.png" target="_blank")
                        img(class="img-responsive" src="img/w_portfoliio_design/work_page_ia2.png" title="click to see full size image" style="width:75%;")
                .col-md-4
                    h3.h3tufte Ability to add wide containers
                    a(href="img/w_portfoliio_design/work_page_ia3.png" target="_blank")
                        img(class="img-responsive" src="img/w_portfoliio_design/work_page_ia3.png" title="click to see full size image" style="width:75%;")


        .container
            .row
                article.nobottompadding
                    section
                        h3 Typography

                        p
                            label(for="mn-figure-1" class="margin-toggle").
                                &#8853;
                            input(type="checkbox" id="mn-figure-1" class="margin-toggle")
                            span.marginnote
                                img(src="img/w_portfoliio_design/book.jpg")                                                    
                                br
                                br
                                br
                                img(src="img/w_portfoliio_design/typographicscale.gif")
                                span.ptufte the standard typographic scale as an example

                        p.firstpara I spent a considerable amount of time researching about setting the tyography of the website. This was the first time I had embarked on a deep study of typography and arrangement of textual content on websites. Since, I only had basic education background on this topic, I started researching online and looked around for resources on this topic.
                        p I found the following book very useful and many of my typographic decisions are based on this book: <strong>Elements of typographic style applied to the web</strong> by <em>Robert Bringhurst</em>. Robert gives a clear set of guidelines for typographic newcomers to follow to get typesetting basics correct.
                        p In implementing the typesetting for this website, I applied the following design choices:

                        ol
                            li A mixed font-scale is used. The difference between body text and h1 text size is based on the traditional font scale. The difference between h1, h2 and h3 is approximating the perfect-fourth scale.
                            li The entire text is laid out on an imaginary notebook-like canvas where the line-height is based on the base font size of the paragraph text
                            li margin + line-height + padding = N x base font line-height
                            li Regardless of combination of h1, h2, h3 and p elements used the text is aligned properly on the line-height boundaries on this imaginary canvas.
                            li The line width of the main content of the website is set so that approximately at-most 8-15 main words fit per line. This usually comes to around 88-90 characters per line.
                            li The font used is ff-meta-web-pro for main body text and freight-sans-pro for the headlines
                            li The text is flush left aligned
                            li No use of h4, h5 and h6 elements. Content is adjusted if needed
                            li First paragraph does not have a text indentation but all subsequent paragraphs do and the subsequent paragraph continues on the next line in this imaginary notebook.


                        h3 Edward Tufte - Margin notes, links <br/>and mixing graphics with text
                        p
                            label(for="mn-figure-2" class="margin-toggle").
                                &#8853;
                            input(type="checkbox" id="mn-figure-2" class="margin-toggle")
                            span.marginnote(style="text-align:center;")
                                img(src="img/w_portfoliio_design/sidenote.gif")                                                    
                                br
                                span.ptufte &copy; Edward Tufte
                        
                        p.firstpara I am a fan of <strong>Edward Tufte</strong>'s books. 
                        p Tufte's books follow a specific typographic style and he strongly advocated mixing graphics with text to make text more interesting to read and to aid in explanation of text. I have followed that practice in this website as well. I felt the guidance was very appropriate for portfolio websites.
                        p Edward Tufte also provides a special markup for hyperlinks. The default underlining provided by browsers for hyperlinks is very thick and it draws the link over the descenders of letters in text. Tufte provides CSS code which does better job at underlining links.
                        p Tufte's books make extensive use of margin notes to provide additional information that is useful but not necessary for completeness of main content. I have followed this guideline to provide additional imagery and useful information.
                        p The practices followed by Edward Tufte have been put down in a CSS file as a Github project called <a href="https://github.com/edwardtufte/tufte-css">Tufte-CSS</a>
                        
                        
                        h2(id="") Development
                        
                        h3 Themes and Wix didn't suffice
                        
                        p First I tried using an existing theme from the internet and altering it. However, that was not extensible enough to be able to modify it to meet the new design that I had produced. I ran into the same issue with many themes.
                        p I then turned to <strong>Wix</strong>. I was initially satisfied with Wix. I really like that the fact that I completely control the layout of the website. Sadly, it was too good to be true. 
                        p Wix has the following drawbacks:
                        ol
                            li Wix websites are not mobile-friendly or responsive by default
                            li Wix does give us a mobile viewer, however, that is severely lacking in features and there is no easy way to check if the website will look good for different device types. Google chrome has better support for testing responsiveness than Wix.
                            
                        h3 Decided to hand code
                        
                        p I really want to get full control of the layout and be able to reuse my layout specifications across all pages and minimize duplicate work. As existing tools did not suffice, I hand coded it myself.
                        p The website is built using <strong>Bootstrap v3</strong>. I apply the <strong>DRY principle</strong> and use <strong>SCSS</strong> and <strong>Jade</strong> to that advantage.
                        p I used Brackets editor. Code can be found here.
                        
        .container-fluid.showcase
            .row
                .col-md-8.center-block(style="float:none;")                        
                        h2.h2tufte(style="padding-bottom:1%;text-align:center;")  My IDE setup
                        img(src="img/w_portfoliio_design/brackets.png" class="img-responsive" style="margin: 0 auto;")
                        
        .container
            .row
                article.nobottompadding
                    section
                        h3 Lessons learnt
                        
                        p Designing this portfolio myself has been a great learning experience. I mastered a lot of CSS3 concepts, SCSS, Jade and Javascript because of this project. I learnt a lot about typography and fonts.
                        p It was also immensely satisfying to applying UX design principles to design my own portfolio.